form {
  background-color: rgb(83, 83, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

label {
  color: aliceblue;
  font-weight: 700;
  font-size: 25px;
}
